:root {
        --color-primary: hsl(180, 50%, 90%);
        --color-secondary: hsl(180, 50%, 10%);
        --color-tertiary: hsl(240, 80%, 20%);
        --color-accent: hsl(120, 80%, 20%);
    }
.dark {
        --color-primary: hsl(180, 50%, 10%);
        --color-secondary: hsl(180, 50%, 90%);
        --color-tertiary: hsl(240, 80%, 80%);
        --color-accent: hsl(120, 80%, 80%);
    }

div{
	width: 200px;
	height: 200px;
}
.one{
	background: purple;
}
.two{
	background: lightgreen;
}
.three{
	background: orange;
}
.flex-boxes{
    display: flex;
}